body {
    font-size: 25px;
    background: #f9f9f9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.heading{
    color: #850685;
    margin-left: 220px;
}
#company{
    margin-left: 110px;
}
#name{
    margin-left: 116px;
}
#address{
    margin-left: 182px;
}
#region,#City,#zipcode{
    margin-left: 293px;
}
#country{
    margin-left: 253px;
}
#number{
    margin-left: 115px;
}
#email{
    margin-left: 126px;
}
#submit{
    margin-left: 175px;
}
form {
    width: 700px;
    /* background: rgb(213, 246, 229); */
    background: rgb(228, 233, 231);
    padding: 15px 40px 40px;
    border: 2px solid rgb(166, 167, 175);
    margin: 50px auto 0;
    border-radius: 4px;
    box-shadow: 6px 10px #8d8c8d;
}

input{
    border: 1px solid #d87cd8;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
}

select {
    border: 1px solid #d87cd8;
    padding: 10px;
    width: 40%;
    box-sizing: border-box;
    border-radius: 5px;
}

.error {
    color: #aa0303;
    font-size: 70%;
    margin-left: 18pc;
}
input[type="submit"] {
    font-size: 80%;
    font-weight: 100;
    background: #850685;
    border-color: #7d027d;
    box-shadow: 0 3px 0 #660168;
    color: #fff;
    margin-top: 10px;
    cursor: pointer; 
}
input[type="submit"]:hover {
    background: #620d4b;
}
label{
    font-size: 21px;
    margin-left: 30px;
    color: #850685;
}